<header class="main-div">
    <div class="logo-options-div">
        <img src="favicon.ico" alt="logo" height="30px" style="padding: 10px; padding-right: 0px;">
        <div>
            
            <a (click)="setPageState('home')" class="header-option">Home</a>
            <a (click)="setPageState('about')" class="header-option">About</a>
            <a class="header-option">Pricing</a>
            <a class="header-option">Account</a>
            <a class="header-option">News</a>
            <a (click)="setPageState('support')" class="header-option">Support</a>
        </div>
    </div>
    <div class="icons-div">
        <img src="icons/user-icon.png" class="icon" alt="">
    </div>
</header>
