.main{
    display: flex;
    top: 100%;
    width: 100%;
    background-color: white;
    margin-top: 40px;
}

.main-div{
    display: flex;
    margin: 0;
    height: 40px;
}

.logo-options-div{
    display: flex;
    width: 100%;
    background-color: white;
    margin: 0;
    align-items: center;
}

.header-option{
    color: rgb(0, 0, 0);
    margin-left: calc(100%/6);
    place-self: center;
    text-decoration: none;
}

.header-option:hover{
    color: rgb(164, 182, 241);
}


