<footer class="main">
    <div>
        <p class="company-copy">&COPY; 2024 Nix Dev Company</p>
    </div>
    <div class="logo-div">
        <img class="logo" src="favicon.ico" alt="logo">
    </div>
    <div class="socials-div">
        <img src="icons/fb-icon.png" alt="facebook icon">
        <img src="icons/linkedin-icon.png" alt="linkedin icon">
        <img src="icons/instagram-icon.png" alt="instagram icon">
        <img src="icons/youtube-icon.png" alt="email icon">
        <img src="icons/twitter-icon.png" alt="twitter icon">
    </div>
</footer>