<div class="main">
    <div class="main-div">
        <div class="logo-options-div">
            <img src="icons/footer-logo.png" alt="logo" style="padding: 10px; padding-right: 0px; background-color: black; height: 20px;">
            <div>
                <a href="#" class="header-option">About</a>
                <a href="#" class="header-option">Pricing</a>
                <a href="#" class="header-option">Account</a>
                <a href="#" class="header-option">News</a>
                <a href="#" class="header-option">Support</a>
            </div>
        </div>
    </div>
</div>