<div class="main">
    <div class="image-div">
        <img class="image" src="icons/pong_logo.png" alt="product image">
        <p class="price-tag">{{ editNumberVal(price, '$', 'ƈ', 'Free') }}</p>
    </div>
    
    <div class="info-div">
        <div class="product-logo-div">
            <div class="product-logo-mask">
                <img class="product-logo" src="icons/pong_logo.png" alt="product logo">
            </div>
        </div>

        <div class="info-content-div">
            <p class="main-info">{{ name }}</p>
            <div class="sub-info">
                <p class="seperatory-dot-include">{{ brand }}</p>
                <p class="seperatory-dot-include">{{ category }}</p>
                <p>{{ editNumberVal(sales, undefined, undefined, 'No') }} sales</p>
            </div>
        </div>
        <div  (click)="onOptionsClick()" class="options-div">
            <div class="options-image-div">
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </div>
            <div *ngIf="optionsVisibility"  class="options">
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
    

</div>